body {
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6fa;
  }
  
  .sidebar {
    width: 320px;
    height: calc(100vh - 40px);
    background-color: #0f1b52;
    color: #F9FAFB;
    padding: 20px;
    margin-top: 55px;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 18.67px 24.89px -6.22px rgba(16, 24, 40, 0.08), 0px 6.22px 9.33px -3.11px rgba(16, 24, 40, 0.03);

  }
  
  .sidebar-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo {
    margin-top: 53px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .divider {
    height: 1px;
    background-color: white;
    opacity: 0.6;
    margin: 20px 0;
  }
  
  .logout-divider {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .sidebar-menu li:hover {
    background-color: #02053D;
    font-weight: 600;

  }
  
  .icon {
    margin-right: 10px;
    font-size: 18px;
    color:#3B44B2;
  }

  
  .neww{
    font-size: 18px;
  }

  .row_appointment{
    width: 20px;
  }



  .wrapper {
    padding: 24px;
    width: 95%;
    height: 100vh;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .input {
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 6px;
    width: 100%;
  }
  
  .clearButton,
  .modalButton {
    font-size: 0.875rem;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #1e3a8a;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    border: none;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  
  .table {
    min-width: 100%;
    border-collapse: collapse;
    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .table thead {
    background-color: #1e3a8a;
    color: white;
  }
  
  .table th,
  .table td {
    padding: 12px 24px;
    text-align: left;
  }
  
  .table tbody {
    background-color: white;
  }
  
  .table tr:hover {
    background-color: #f9fafb;
    cursor: pointer;
  }
  
  .statusBadge {
    padding: 4px 8px;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #d1fae5;
    color: #047857;
  }
  
  .selectButton {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid #047857;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
  }
  
  .selectButton.selected {
    background-color: #047857;
    color: white;
  }
  
  .actions {
    position: absolute;
    bottom: 24px;
    right: 24px;
    display: flex;
    gap: 16px;
  }
  

  .table-summary {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table-summary th, .table-summary td {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  